body{
background-color: rgba(126, 63, 228, 0.3);
background-size: 100%;
}
#login_frame {
width: 400px;
padding: 20px;
position: absolute;
left: 50%;
top: 50%;
margin-left: -200px;
margin-top: -200px;
background-color: rgba(255, 255, 255, 0.3);
border-radius: 10px;
text-align: center;
}
form p > * {
display: inline-block;
vertical-align: middle;
}
#image_logo_1 {
height:10px;
width:10px;
margin-top: -10px;
margin-left: 220px;
}
#image_logo_2 {
height:10px;
width:10px;
margin-botton: 22px;
margin-left:25px;
}
#image_logo_3 {
height:10px;
width:10px;
margin-top: 20px;
margin-botton: 20px;
margin-left: 160px;
}
.label_input {
font-size: 14px;
width: 80px;
height: 28px;
line-height: 28px;
text-align: center;
color: white;
background-color: #5B00AE;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.text_field {
width: 278px;
height: 28px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border: 0;
}
#login_text {
font-size: 12px;
color: white;
text-decoration: none;
position: relative;
float: right;
top: 5px;
}
#login_text:hover {
color: blue;
text-decoration: underline;
}
#btn_register {
cursor:pointer;
font-size: 14px;
width: 120px;
height: 28px;
line-height: 28px;
text-align: center;
color: white;
background-color: #5B00AE;
border-radius: 6px;
border: 0;
float: left;
transition: all .25s ease-in-out;
}
#btn_register:hover{
background: rgba(255, 124, 31, 0.7)
}
#Register{
font-size: 40px;
color: white;
text-decoration: none;
position: relative;
float: right;
top: 20px;
}
#Register:hover{
color: rgba(0, 145, 255, 0.5);
}
#login_control {
padding: 0 28px;
}
.itext {
filter: glow(color:purple, strength=2); font-size:50px; color:white; font-weight:900; text-shadow: 1px 1px 5px purple;
transition: all .25s ease-in-out;
}